<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>vehiclesServlet</servlet-name>
        <servlet-class>com.maxclay.api.VehiclesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>vehiclesServlet</servlet-name>
        <url-pattern>/api/vehicles/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vendorsServlet</servlet-name>
        <servlet-class>com.maxclay.api.VendorsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>vendorsServlet</servlet-name>
        <url-pattern>/api/vendors/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rowMaterialsServlet</servlet-name>
        <servlet-class>com.maxclay.api.RowMaterialsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rowMaterialsServlet</servlet-name>
        <url-pattern>/api/materials/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authenticationServlet</servlet-name>
        <servlet-class>com.maxclay.api.AuthenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authenticationServlet</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>

</web-app>